- unless proposal.existing_talk.nil?
  %h3 Have you given this talk before?
  = proposal.existing_talk ? "Yes" : "No"

%dl
  - if proposal.online_recordings.present?
    %dt Online Recordings
    %dd= proposal.online_recordings

  - if proposal.location.present?
    %dt Where do you live?
    %dd= proposal.location


  - if proposal.website.present?
    %dt Website
    %dd= proposal.website

  - if proposal.github.present?
    %dt GitHub username
    %dd= proposal.github

  - if proposal.twitter.present?
    %dt Twitter handle
    %dd= proposal.twitter

  - if proposal.headshot.present?
    %dt Headshot
    %dd= proposal.headshot

  - if proposal.video_pitch.present?
    %dt Link to a Video Pitch
    %dd= proposal.video_pitch

